// Global variables --------------------

// Breakpoints -------------------------

$tablet-size: 720px;

// Colours -----------------------------

$grey: #F1F1F1;

// Type --------------------------------

// Grid settings -----------------------

$columns: 37;
$mobile_columns: 27;